body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f5f5f5;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

.add-subject {
  text-align: center;
  margin-bottom: 20px;
}

#subjectList {
  max-width: 300px;
  margin: auto;
}

.subject-item {
  background: white;
  padding: 12px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

.subject-item:hover {
  background: #e0e0e0;
}

#stats {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-top: 10px;
}

.day {
  background: white;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.weekend {
  background: #ccc;
  cursor: not-allowed;
}

.present {
  background: #4caf50;
  color: white;
}

.absent {
  background: #f44336;
  color: white;
}

.day:hover {
  opacity: 0.8;
}

#monthHeader {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}


.noclass {
  background: #2196f3;
  color: white;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.present-btn { background: #4caf50; color: white; }
.absent-btn { background: #f44336; color: white; }
.noclass-btn { background: #2196f3; color: white; }
.clear-btn { background: #9e9e9e; color: white; }
.cancel-btn { background: black; color: white; }


.modal.hidden {
  display: none !important;
}


.subject-item {
  background: white;
  padding: 14px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 10px;
  text-align: left;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.subject-name {
  font-size: 18px;
}

.subject-percent {
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 20px;
  color: white;
}


.percent-very-safe {
  background: #2e7d32; /* dark green */
}

.percent-safe {
  background: #4caf50; /* green */
}

.percent-warning {
  background: #ff9800; /* orange */
}

.percent-danger {
  background: #f44336; /* red */
}


#monthNav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

#monthNav button {
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#monthControls button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

